<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Статистика XML файла</title>
    </head>
    <body>
        <h1>Внутренние ссылки</h1>
        <p>Число внутренних ссылок (теги &lt;a href="#id"&rt;): <b>{{totalLinkCount}}</b></p>
        <h1>Буквы внутри тегов</h1>
        <p>Суммарное число букв внутри тегов, не включая пробельные символы: <b>{{letterCount}}</b></p>
        <h1>Битые ссылки</h1>
        <p>Число битых внутренних ссылок: <b>{{brokenLinkCount}}</b></p>
    </body>
</html>